.containerUpDownButton{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1.5rem;
}
.upButton{
    background-color: var(--verde);

}

.downButton{
    background-color: var(--vermelho);

}